<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quadrivago - Ajout Hotel</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div id="header"></div>

    <div class="AjoutHotel">
        <form method="post" action="/login" id="postAjoutHotel">
            <div class="formulaire">
                <input type="text" id="NomHotel" name="NomHotel" placeholder="Entrez le nom de votre hotel" required>
                <input type="text" id="AdresseHotel" name="AdresseHotel" placeholder="Entrez l'adresse de votre hotel" required>
                <input type="number" id="NightPrice" name="NightPrice" placeholder="Prix d'une nuit">
                <textarea name="Description" id="HotelDesc" placeholder="Rédigez votre description" rows="10" cols="70" required></textarea>
                <input type="file" name="image" accept="image/*" id="imageAdd">
            </div>
            <div class="buttonAjoutHotel">
                <button type="submit" id="boutonAjoutHotel">Ajouter</button>
            </div>
        </form>
    </div>

</body>

<script>
    fetch("header.html")
        .then(response => response.text())
        .then(data => document.getElementById("header").innerHTML = data);
</script>
</html>