<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<header>
    <nav>
        <a href="/"><img src="../static/quadrivago logo.png" alt="logo" class="logoPic"></a>

        <form action="/parcourir">
            <input type="text" name="recherche" id="barreRecherche" placeholder="Rechercher...">
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>

        <div class="dropdown" tabindex="0">
            <a href="#">Villes</a>
            <ul class="submenu">
                <li><a href="#">Mardrid</a></li>
                <li><a href="#">Paris</a></li>
                <li><a href="#">Rome</a></li>
                <li><a href="#"><i class="fa-solid fa-magnifying-glass"></i> Rechercher une ville</a></li>
            </ul>
        </div>

        <a href="/login"><img src="../static/placeholder-profile.png" alt="profilePic" class="profilePic"></a>
    </nav>
</header>
</html>