<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quadrivago - Accueil</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<header>
    <nav>
        <a href="/"><img src="../static/quadrivago logo.png" alt="logo" class="logoPic"></a>

        <form action="/parcourir">
            <input type="text" name="recherche" id="barreRecherche" placeholder="Rechercher...">
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>

        <div class="dropdown" tabindex="0">
            <a href="#">Villes</a>
            <ul class="submenu">
                <li><a href="#">Mardrid</a></li>
                <li><a href="#">Paris</a></li>
                <li><a href="#">Rome</a></li>
                <li><a href="#"><i class="fa-solid fa-magnifying-glass"></i> Rechercher une ville</a></li>
            </ul>
        </div>

        <a href="#" id="profileLink"><img src="../static/placeholder-profile.png" alt="profilePic" class="profilePic"></a>

        <script>
            fetch("/api/check-auth") 
                .then(res => res.json())
                .then(data => {
                    if (data.connected) {
                        document.getElementById("profileLink").href = "/profil";
                    } else {
                        document.getElementById("profileLink").href = "/login";
                    }
                });
        </script>
    </nav>
</header>

<body>

    <div class="boutonImage">
        <img src="../static/hotelimg.jpg" alt="fondImgBouton" class="fondImgBouton">
        <a href="/parcourir"><button class="boutonReservation">Réserver</button></a>
    </div>

    <div class="container">
        <h1 id="reserTitre">Réservez votre hôtel</h1>
        <p id="reserTexte">Découvrez les meilleurs hôtels au meilleur prix</p>
        <div class="cards">
            <div class="hotelCard">
                <img src="../static/imageplhhotel.jpg" alt="plhhotel" class="plhImgHotel">
                <p>Hotel Saint-Helmes</p>
                <button>Réserver</button>
            </div>

            <div class="hotelCard">
                <img src="../static/imageplhhotel.jpg" alt="plhhotel" class="plhImgHotel">
                <p>Hotel Saint-Helmes</p>
                <button>Réserver</button>
            </div>

            <div class="hotelCard">
                <img src="../static/imageplhhotel.jpg" alt="plhhotel" class="plhImgHotel">
                <p>Hotel Saint-Helmes</p>
                <button>Réserver</button>
            </div>
        </div>

    </div>

</body>
</html>