<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quadrivago - Accueil</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <div id="header"></div>
    <script>
        fetch("header.html")
            .then(response => response.text())
            .then(data => document.getElementById("header").innerHTML = data);
    </script>

    <div class="boutonImage">
        <img src="../static/hotelimg.jpg" alt="fondImgBouton" class="fondImgBouton">
        <a href="parcourir.html"><button class="boutonReservation">Réserver</button></a>
    </div>

    <div class="container">
        <h1 id="reserTitre">Réservez votre hôtel</h1>
        <p id="reserTexte">Découvrez les meilleurs hôtels au meilleur prix</p>
        <div class="cards">
            <div class="hotelCard">
                <img src="../static/imageplhhotel.jpg" alt="plhhotel" class="plhImgHotel">
                <p>Hotel Saint-Helmes</p>
                <button>Réserver</button>
            </div>

            <div class="hotelCard">
                <img src="../static/imageplhhotel.jpg" alt="plhhotel" class="plhImgHotel">
                <p>Hotel Saint-Helmes</p>
                <button>Réserver</button>
            </div>

            <div class="hotelCard">
                <img src="../static/imageplhhotel.jpg" alt="plhhotel" class="plhImgHotel">
                <p>Hotel Saint-Helmes</p>
                <button>Réserver</button>
            </div>
        </div>

        <div class="cards">
            <div class="hotelCard">
                <img src="../static/imageplhhotel.jpg" alt="plhhotel" class="plhImgHotel">
                <p>Hotel Saint-Helmes</p>
                <button>Réserver</button>
            </div>

            <div class="hotelCard">
                <img src="../static/imageplhhotel.jpg" alt="plhhotel" class="plhImgHotel">
                <p>Hotel Saint-Helmes</p>
                <button>Réserver</button>
            </div>

            <div class="hotelCard">
                <img src="../static/imageplhhotel.jpg" alt="plhhotel" class="plhImgHotel">
                <p>Hotel Saint-Helmes</p>
                <button>Réserver</button>
            </div>
        </div>

        <div class="cards">
            <div class="hotelCard">
                <img src="../static/imageplhhotel.jpg" alt="plhhotel" class="plhImgHotel">
                <p>Hotel Saint-Helmes</p>
                <button>Réserver</button>
            </div>

            <div class="hotelCard">
                <img src="../static/imageplhhotel.jpg" alt="plhhotel" class="plhImgHotel">
                <p>Hotel Saint-Helmes</p>
                <button>Réserver</button>
            </div>

            <div class="hotelCard">
                <img src="../static/imageplhhotel.jpg" alt="plhhotel" class="plhImgHotel">
                <p>Hotel Saint-Helmes</p>
                <button>Réserver</button>
            </div>
        </div>
    </div>

</body>
</html>