<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quadrivago - Connexion</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <header>
    <nav>
        <a href="/"><img src="../static/quadrivago logo.png" alt="logo" class="logoPic"></a>

        <form action="/parcourir">
            <input type="text" name="recherche" id="barreRecherche" placeholder="Rechercher...">
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>

        <div class="dropdown" tabindex="0">
            <a href="#">Villes</a>
            <ul class="submenu">
                <li><a href="#">Mardrid</a></li>
                <li><a href="#">Paris</a></li>
                <li><a href="#">Rome</a></li>
                <li><a href="#"><i class="fa-solid fa-magnifying-glass"></i> Rechercher une ville</a></li>
            </ul>
        </div>

        <a href="/connexion"><img src="../static/placeholder-profile.png" alt="profilePic" class="profilePic"></a>
    </nav>
</header>

    <div class="inscriptionConnexion">
        <form method="post" action="/login" id="postInscriptionConnexion">
            <div class="formulaire">
                <input type="username" id="Mail" name="username" placeholder="Entrez votre pseudo" required>
                <input type="email" id="Mail" name="mail" placeholder="Entrez votre E-mail" required>
                <input type="password" id="mdp" name="mdp" placeholder="Entrez votre mot de passe" required>
                <input type="password" id="mdp2" name="mdpConfirm" placeholder="Entrez à nouveau votre mot de passe" required>
            </div>
            <div class="buttonlink">
                <button type="submit" id="bouton">Connexion</button>
                <a href="/connexion">Déjà inscrit ? Connectez vous !</a>
            </div>
        </form>
    </div>

</body>

<script>
    fetch("header.html")
        .then(response => response.text())
        .then(data => document.getElementById("header").innerHTML = data);
</script>
</html>